.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-food {
  width: 0.94140625em;
}
.unitRight{
  display: none;
}

svg:hover{
  fill: rgba(54,26,98,0.4);
}
